node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.DS_Store
*.log
__pycache__/
*.pyc
.env
.env.local
build/
.vite/
*.sqlite
*.db
coverage/
.next/
.nuxt/
venv/
.venv/
*.egg-info/
.github/
